{% load staticfiles %}
<html>
    <head>
        <title>Circle</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/circle.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'post_list' %}">Circle</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <li class="nav-item">
                                <a href="{% url 'user_detail' pk=user.pk %}" class="nav-link">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'post_new' %}" class="nav-link">New Post</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'register' %}" class="nav-link">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="nav-link">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                {% if messages %}
                <div class="messages" {% if message.tags %} id="{{ message.tags }}" {% endif %}>
                    {% for message in messages %}
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <hl>
            {% block content %}
            {% endblock %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>